---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
<h1>Asociacion de familas de escuela IDEO (A.F.A.)</h1>
<div class="list-of-arts">
  <div class="art-preview">
    <a href="/art">
      <div class="art-picture"></div>
    </a>
    <div class="description">
    Necesario usar leche, harina, huevos, sal y azucar. Posteriormente, colocarlo en un recipiente. (Texto de ejemplo)
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Batirlo todos los ingredientes correctamente. (Texto de ejemplo)
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Dejar enfriar (En nevera, conjelador o heladera) durante 2 horas. (Texto de ejemplo)
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Meter una fuente untada en mantequilla dentro del horno. (Texto de ejemplo)
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Colocar en la fuente las ciruelas y untarlas con la masa hecha anteriormente. (Texto de ejemplo)
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Servir templado en la misma fuente. (Texto de ejemplo)
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Distrutar del exquisito pastel de ciruela. (Texto de ejemplo)
    </div>
  </div>
</div>
</BaseLayout>