---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
<h1>Asociacion de familas de escuela IDEO (A.F.A.)</h1>
<div class="list-of-arts">
  <div class="art-preview">
    <a href="/art">
      <div class="art-picture"></div>
    </a>
    <div class="description">
    Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto 
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto 
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
    </div>
  </div>
  <div class="art-preview">
    <div class="art-picture"></div>
    <div class="description">
    Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto
    </div>
  </div>
</div>
</BaseLayout>