---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Actividades</h1>
  <p>Actividades propuestas para la asociación</p>
  <div class="blog-post">
    <div class="title">Ejemplo de título</div>
    <div class="content">
        <p>Los flamencos son aves gregarias altamente especializadas, que habitan sistemas salinos de donde obtienen su alimento (compuesto generalmente de algas microscópicas e invertebrados) y materiales para desarrollar sus hábitos reproductivos.

       Las tres especies de flamencos sudamericanos obtienen su alimento desde el sedimento limoso del fondo de lagunas o espejos lacustre-salinos de salares, El pico del flamenco actúa como una bomba filtrante. El agua y los sedimentos superficiales pasan a través de lamelas en las que quedan depositadas las presas que ingieren. La alimentación consiste principalmente en diferentes especies de algas diatomeas, pequeños moluscos, crustáceos y larvas de algunos insectos...

        Para ingerir el alimento, abren y cierran el pico constantemente produciendo un chasquido leve en el agua, y luego levantan la cabeza como para ingerir lo retenido por el pico. En ocasiones, se puede observar cierta agresividad entre los miembros de la misma especie y frente a las otras especies cuando esta buscando su alimento, originada posiblemente por conflictos de territorialidad.
        (Texto de ejemplo)</p>
    </div>
  </div>
</BaseLayout>
