---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Actividades</h1>
  <p>Actividades propuestas para la asociación</p>
  <div class="blog-post">
    <div class="title">Ejemplo de título</div>
    <div class="content">
      <p>oihaso aousdb sdifka sòajn fpsdojf apsjbdka fd fvlkmsa csdkj dsvoijae sojd kvm sñjd ckansn djojlkja spkdsjbd alksjhbipd epkjbdeklj aloosandkkne dlkajs dlekjd alkjsdb elsnbakdj epkjksba fprujfbld fpkjd flkjebshan alkje ljdjkjrbrj ajrbkljas  fpkjbdkds dlkjebdsamsn dejkbdsamn 
      texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto 
      oufgpiufhsdijisudbjan isydab jdlh ljs clkasn cmshviuhb lj ednsdiahbf nsnhdsvpiuhablkehf krn aoiuyvbspiqkujwv ekjrmhbkjdlmnsa diyhbdljkjehbffbds iidaukhjsbd kjebfoijhvs dnbf lk kajhsvfbouyrjh jshmadvbijhe filudjb fkjh iajd fwhjebfiougahbd fjehv lajusgpihv je diphsd wj dbieukgvbj al dsikjbeiugbdja sdiuha sdyhv eyjfgbpiaukhfv oirh piujdbfouhjr  piudajv ofujhwdvfsouhvsf wpiusv uowyjehfv ouwehv aasjhv djd fdgvfuoygru f usdvjshf hdfuyrfuyhbdjhvjf oujjhfvdojhvfsioufvoeu fauhsdfojdhvfuripif pajhdpieupjpahe piufevfoejhf jdhfvoj fsdpufbpie </p>
    </div>
  </div>
</BaseLayout>