---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Contacto</h1>
  <p>Para contratar con el creador:</p>
  <p></p>
  <ul>
    <li>Email: imanol.presa@a.escuelaideo.edu.es</li>
    <li</li>
  </ul>
</BaseLayout>