<div id="menu">
  <!-- Aquí irá el listado de opciones -->
  <ul>
    <li>
      <a href="/arts">Asociación de familias IDEO</a>
    </li>
    <li>
      <a href="/about">La A.F.A.</a>
    </li>
    <li>
      <a href="/blog">Actividades</a>
    </li>
    <li>
      <a href="/contact">Contacto</a>
    </li>
  </ul>
</div>